 /*reset
-----------------------------*/
*, * ::before ,*::after {margin: 0%; padding: 0%;} 



    

a:hover{
    color:#f9014d
}

input, select, iframe, button{
    border: none;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3{
    margin: 0;
    padding: 0;
}
ol, ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #f9014d;
}

img{
    max-width: 100%;
    border: none;
}

/*Gerais
*/

.section {
    width: 100%;
}

.section > :not(:first-of-type) {
    margin-top: 60px;
    
}

.section-header{
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.section-header h1{
    font-size: 38px;
    font-weight: normal;

}

.section-header{
    margin-top:40px;
    text-align: center;
    font-size: 20px;
}

.section-header h1{
    font-size: 38px;
    font-weight: normal;
}

#principal {
    width: 80%;
    margin: auto;
}
.content{
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}



/* FIM Gerais
-----------------------------*/

/* INICIO BOX
    
*/
.box{
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: .6rem 0;
}

.box-nome{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: #f9014d;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.display-none {
    display: none!important;
}

.box-cover{
    display: block;
    font-size: 0;
    line-height: 1em;
    height: 320px;
    overflow: hidden;
    cursor: pointer;
}

.box-cover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: absolute;
    bottom: 0;
}


.box-detalhe{
    position: absolute;
    width: 28.4%;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

.box-detalhe-info{
    position: relative;
    z-index: 2;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform:translate(0, 50%);
    transform:translate(0, 50%);
   
}

.box-detalhe::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    visibility: visible;
    background: linear-gradient(to bottom, transparent, black);

    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform:translate(0, 50%);
    transform:translate(0, 50%);
}

.box-detalhe-info h1{
    font-size: 20px;

}



/*box:hover*/
.box:hover .box-cover img{
    -webkit-transform: scale(1);
    transform: scale(1);
}
 
.box:hover .box-detalhe::before,
.box:hover .box-detalhe-info{
    opacity: 1;
    visibility: visible;
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0);
}


/* FIM BOX
    
*/

 
body{
 font-family: 'Open Sans', sans-serif;
 font-size:inherit ;
}

input, select, iframe, button{
    border: none;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h2{
    margin: 0;
    padding: 0;
    color: aquamarine;
}

ol, ul{
    
    list-style: none;
    text-align: center;

}

.links li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    position: relative;
   

}

a{
    color: #eee;
    text-decoration: none; 
}

a:hover {
    color: black; /*não funciou*/
}
.d-inline-block {
    display: inline-block;
}

/*Inicio header 
-----------------------------*/
.header{
    position: absolute;
    width: 100%;
    top: 30px;
    z-index: 6;

}

.header nav.nav {
    position: fixed;
    width: 70%;
    top: 60px;
    display: inline-block;
}

.menu-float{
    position: absolute;
    color: darkgreen;
    
   
}

header .logo img{
    max-width: 120px;

}

.menu-bk{
    background-color: #a70606;
    width: 70%;
    max-width: 70%;
    text-decoration: 1px transparent ;
    display: inline-block;
    opacity: 78%;
}



/*Inicio seacher 
-----------------------------*/
.seacher-box{
    text-align: center;
    color: lightcyan;
    padding: 100px 0;
    background-image: url(../images/african.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.seacher-box h1{
    font-size: 37px;
    font-weight: bold;
    margin-top: 140px;
}
.seacher-box .tagline{
    font-size: 26px;
}

.seacher-box form{
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 500px;
    margin-top: 40px;
}

.seacher-box form input[type="search"]{
    width: 100%;
    height: 50px;
    font-size: inherit;
    color: #2c3e50;
    padding: 0 70px 0 10px;
    border-radius: 6px; 
    -webkit-border-radius: 6px; 

}

.seacher-box form button{
    background: #a70606;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    top: 0 ;
    right: 0;
    cursor: pointer;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

/* INICIO ESTATISTICAS 
-----------------------------*/
.estatisticas{
    background: #fff;
    max-width: 960px;
    width: 90%;
    padding: 30px 0 ;
    margin: -40px auto 0 auto;
    text-align: center;

    display: flex;
    display: -webkit-flex;
    align-items: center;

    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0, .3);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0, .3);
    
}

.estatisticas-item span{
    font-size: 33px;
    font-weight: bold;
}

.estatisticas-item p{
    font-size: 20px;
}

/*Destinos*/
.destinos-col{
    margin-bottom: 20px;
    display: inline-block;
    width: 30%;
}

.destinos-col:not(:last-child){
    margin-right: 2rem;
}

#footer {
   
    text-align: center;
    background: red;
    position: absolute;
    bottom: 0;
    z-index: 50000;   

    
}



/* BREAKPOINTS MÁXIMO
-----------------------------*/
@media(  max-width:767.9px ){

    .nav-toggle{
        color: #fff;
        font-size: 22px;
    }
    .nav-close{
        font-size:22px ;
    
    }

    .header .nav.active {
        right: 0px;
    }

    .header .nav{
        background: #fff;
        width: 250px;
        height: 100%;
        position: fixed;
        padding: 15px;
        right: -100%;
        transition: right .7s ease-out;
        top: 0;
        z-index: 10;
    }

    .header .nav ul li{
        padding: 15px 5px;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
}
    

    .estatisticas {
        flex-direction: column;
    }

    .estatisticas-item{
        min-width: 90%;
    }

    .estatisticas-item:not(:last-of-type){
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
}





/* BREAKPOINTS MINIMO
-----------------------------*/
@media (min-width:768px){
    /*Menu*/
    .nav-toggle, .nav-close{
        display: none;
    }

    .header .nav .ul .li{
        display: inline-block;
        margin-left: 20px;

    }

    .header .nav .ul .li a{
        color: #fff;
    }

    .header .nav .ul .li a:hover{
        color: red ;
    }

    .seacher-box{
        padding: 200px;
    }
   
    .estatisticas{
        margin-top: -65px;
    }
    .estatisticas-item{
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;

    } 
    .estatisticas-item:not(:last-of-type){
        border-right: 1px solid #ccc;
       
    }

    /*.destinos-col*/
    .destinos-col{
    margin-right:0% ;
    height: 10%;


    }

    .destinos-col:nth-child(){
        margin-right: 0;

    }

    .destinos-col{
        
        
    }


}


/* Auxiliares
-----------------------------*/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.fl-left{float: left;}
.fl-right{float:right;}